---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=3b1f71ac791b2fecf5792fbc7481d17c&lat=38.265427&lon=-104.605087&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6051,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619572093,"sunrise":1619525164,"sunset":1619574340,"temp":60.17,"feels_like":57.58,"pressure":1006,"humidity":36,"dew_point":33.15,"uvi":0.2,"clouds":1,"visibility":10000,"wind_speed":17.27,"wind_deg":20,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1619572140,"precipitation":0},{"dt":1619572200,"precipitation":0},{"dt":1619572260,"precipitation":0},{"dt":1619572320,"precipitation":0},{"dt":1619572380,"precipitation":0},{"dt":1619572440,"precipitation":0},{"dt":1619572500,"precipitation":0},{"dt":1619572560,"precipitation":0},{"dt":1619572620,"precipitation":0},{"dt":1619572680,"precipitation":0},{"dt":1619572740,"precipitation":0},{"dt":1619572800,"precipitation":0},{"dt":1619572860,"precipitation":0},{"dt":1619572920,"precipitation":0},{"dt":1619572980,"precipitati[...]
