---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=9ffb86ce387f4a4200e1c1e4ae24aee8&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":14941,"perpage":1,"total":"14941","photo":[{"id":"51123309253","owner":"56683178@N06","secret":"984e8a90dc","server":"65535","farm":66,"title":"C&S
        632 at Logan and Buchtel in Denver, CO 2\/1957  Photographer Unknown","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Sat, 24 Apr 2021 23:03:26 GMT
recorded_with: VCR 6.0.0
