---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=9ffb86ce387f4a4200e1c1e4ae24aee8&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,co%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":753,"perpage":1,"total":"753","photo":[{"id":"49739448673","owner":"56683178@N06","secret":"ae6c7cea05","server":"65535","farm":66,"title":"BNSF
        1789 Southside Switching Trk. 20 BNSF 31st St Yard Denver, CO March 18, 2020.","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 23:12:08 GMT
recorded_with: VCR 6.0.0
