---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=9ffb86ce387f4a4200e1c1e4ae24aee8&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=2120630062
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"2120630062","secret":"0210fd991e","server":"2142","farm":3,"dateuploaded":"1197987464","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"debb8bf04b","originalformat":"jpg","owner":{"nsid":"19806378@N08","username":"aspens","realname":"","location":"","iconserver":"2020","iconfarm":3,"path_alias":"ciaocccp"},"title":{"_content":"DENVER"},"description":{"_content":"Denver."},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1197987464","taken":"2007-12-06
        18:33:37","takengranularity":"0","takenunknown":0,"lastupdate":"1616415865"},"views":"1913","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"19713565-2120630062-9669","author":"19806378@N08","authorname":"aspens","raw":"denver","_content":"denver","machine_tag":0}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/ciaocccp\/2120630062\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Wed, 28 Apr 2021 01:16:45 GMT
recorded_with: VCR 6.0.0
