---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=9ffb86ce387f4a4200e1c1e4ae24aee8&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Denver,Co%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":753,"perpage":1,"total":"753","photo":[{"id":"49739448673","owner":"56683178@N06","secret":"ae6c7cea05","server":"65535","farm":66,"title":"BNSF
        1789 Southside Switching Trk. 20 BNSF 31st St Yard Denver, CO March 18, 2020.","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 23:12:04 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=9ffb86ce387f4a4200e1c1e4ae24aee8&format=json&method=flickr.photos.getInfo&nojsoncallback=1&photo_id=49739448673
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"49739448673","secret":"ae6c7cea05","server":"65535","farm":66,"dateuploaded":"1586119906","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"5f93659eaa","originalformat":"jpg","owner":{"nsid":"56683178@N06","username":"blupenny99","realname":"tom
        byrnas","location":"Brighton, CO, USA","iconserver":"65535","iconfarm":66,"path_alias":"20tcb10"},"title":{"_content":"BNSF
        1789 Southside Switching Trk. 20 BNSF 31st St Yard Denver, CO March 18, 2020."},"description":{"_content":"The
        Pikes Peak Local waits for the Southside to get out of our way.  And they
        stole our motors (1789 and 1675) leaving us with some junk power.  The conductor
        and brakeman are discussing the day''s activities or possibly the Covid19
        virus.  Rumors were flying concerning the local and it is on borrowed time,
        eventually being abolished April 17, 2020."},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1586119906","taken":"2020-03-18
        09:06:39","takengranularity":"0","takenunknown":"0","lastupdate":"1616500792"},"views":"128","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":0},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"56637856-49739448673-58228","author":"56683178@N06","authorname":"blupenny99","raw":"BNSF","_content":"bnsf","machine_tag":0},{"id":"56637856-49739448673-408384742","author":"56683178@N06","authorname":"blupenny99","raw":"Burlington
        Northern Santa Fe Rwy","_content":"burlingtonnorthernsantaferwy","machine_tag":0},{"id":"56637856-49739448673-85148","author":"56683178@N06","authorname":"blupenny99","raw":"Denver,
        CO","_content":"denverco","machine_tag":0},{"id":"56637856-49739448673-3157","author":"56683178@N06","authorname":"blupenny99","raw":"Colorado","_content":"colorado","machine_tag":0},{"id":"56637856-49739448673-8854","author":"56683178@N06","authorname":"blupenny99","raw":"Trains","_content":"trains","machine_tag":0},{"id":"56637856-49739448673-92338","author":"56683178@N06","authorname":"blupenny99","raw":"Railroads","_content":"railroads","machine_tag":0},{"id":"56637856-49739448673-1294","author":"56683178@N06","authorname":"blupenny99","raw":"Yard","_content":"yard","machine_tag":0},{"id":"56637856-49739448673-1147","author":"56683178@N06","authorname":"blupenny99","raw":"Skyline","_content":"skyline","machine_tag":0}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/20tcb10\/49739448673\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 23:12:05 GMT
[...]
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=9ffb86ce387f4a4200e1c1e4ae24aee8&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,co%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":753,"perpage":1,"total":"753","photo":[{"id":"49739448673","owner":"56683178@N06","secret":"ae6c7cea05","server":"65535","farm":66,"title":"BNSF
        1789 Southside Switching Trk. 20 BNSF 31st St Yard Denver, CO March 18, 2020.","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 23:12:05 GMT
[...]
